<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeSuit">
  <test thread-count="5" name="SmokeTest" parallel= "false">
    <classes>
      <class name="chase.bank.tests.Testing"/>
    </classes>
  </test> <!-- SmokeTest -->
</suite> <!-- SmokeSuit -->
